#table-1 {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

tr, td {
    border: 1px solid black;
    border-collapse: collapse;
}

#table-2 {
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
}

#table-3 {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

#t-image {
    text-align: center;
}
